/*
Custom Css
*/

/* index Top Nav -- start */
#templatemo_nav_top {
  background-color: #000000 !important;
}

#templatemo_nav_top a,
#templatemo_nav_top i {
  color: #ffffff !important;
}
/* index Top Nav -- close */


/* index header -- start */
#templatemo_main_nav a:hover {
  color: #e8b03c !important;
}

.modal-content button {
  background-color: #e8b03c !important;
  border-color: #e8b03c !important;
}
/* index header -- close */



/* Carousel Banner -- start */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  color: #e8b03c !important;
}
.carousel-indicators li {
    background-color: #e8b03c;  /* cor dourada */
}

.carousel-indicators .active {
    background-color: #ffb829; /* um dourado um pouco mais forte para o ativo (opcional) */
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #e8b03c !important;
  font-size: 2.8em !important;
}
.text-success { color: #f4bc4c !important;}
/* Carousel Banner -- close */



/* featured -- start */
.btn-success {
  background-color: #e8b03c;
  border-color: #e8b03c;
}
/* featured -- close */




/* Destaques -- start */
.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card-body h3 {
  font-weight: 400;
  font-size: 1rem;
}

.card-body p {
  font-size: 0.9rem;
}

.bg-light {
  background-color: #f3f1e7 !important; /* tom claro elegante, suave */
}
/* Destaques -- close */





/* Shop-single Content -- start */
section.bg-white {
    background-color: #fff !important;
}

#multi-item-example .img-fluid {
    border: 1px solid #eeeeeebc;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#multi-item-example .img-fluid:hover {
    transform: scale(1.05);
}

.product-title {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 2rem;
}

.product-options .form-label {
  font-weight: 500;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.4rem;
}

.custom-select {
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  padding: 0.5rem;
  background-color: #fff;
}

.custom-select:focus {
  border-color: #000;
  box-shadow: none;
}

.btn-lg {
  border-radius: 0;
  font-weight: 500;
  font-size: 1rem;
}

.product-description h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.product-description p,
.product-description ul {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #666;
}

.product-thumbnail-carousel img {
    max-height: 100px;
    object-fit: cover;
    padding: 4px;
}




.card-img-top {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}




.custom-arrow-left,
.custom-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: #C5A46D; /* dourado */
    cursor: pointer;
}

.custom-arrow-left {
    left: -30px;
}

.custom-arrow-right {
    right: -30px;
}

/* Shop-single Content -- close */