/*
Custom Css
*/

/* index Top Nav -- start */
#templatemo_nav_top {
  background-color: #000000 !important;
}

#templatemo_nav_top a,
#templatemo_nav_top i {
  color: #ffffff !important;
}
/* index Top Nav -- close */


/* index header -- start */
#templatemo_main_nav a:hover {
  color: #e8b03c !important;
}

.modal-content button {
  background-color: #e8b03c !important;
  border-color: #e8b03c !important;
}
/* index header -- close */



/* Carousel Banner -- start */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  color: #e8b03c !important;
}
.carousel-indicators li {
    background-color: #e8b03c;  /* cor dourada */
}

.carousel-indicators .active {
    background-color: #ffb829; /* um dourado um pouco mais forte para o ativo (opcional) */
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #e8b03c !important;
  font-size: 2.8em !important;
}
.text-success { color: #f4bc4c !important;}
/* Carousel Banner -- close */



/* featured -- start */
.btn-success {
  background-color: #e8b03c;
  border-color: #e8b03c;
}
/* featured -- close */




/* Destaques -- start */
.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.card-body h3 {
  font-weight: 400;
  font-size: 1rem;
}

.card-body p {
  font-size: 0.9rem;
}

.bg-light {
  background-color: #f3f1e7 !important; /* tom claro elegante, suave */
}
/* Destaques -- close */